[submodule "unit"]
	path = unit
	url = https://github.com/laughingmirea/Hoang_Anh_flower.git
[submodule "WebFlowers"]
	path = WebFlowers
	url = https://github.com/Na-Tyan/WebFlowers.git
[submodule "Mirea-Web"]
	path = Mirea-Web
	url = https://github.com/WILDLIFE14/Mirea-Web.git
